.slide {
  height: 100%;
  position: relative;
  background: $background;
}

.slide__block {
  position: absolute;
  max-width: 75%;
}


.slide__moveit {
  cursor: move;
  display: inline-block;
  position:absolute;
  top: -1px;
  left: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;

  border: 1px solid #ccc;
  border-radius: 5px;

  transition: top 0.3s  0.1s ease-out;
}

.slide__input,
.slide__content {
  font-size: 36px;
  line-height: 42px;
  position: relative;
  background: $background;
  border-bottom: 1px solid red;
}

.slide__input {
  display: none;
  border: 0;
  border-bottom: 1px solid red;
}

.slide__block--editmode {
  .slide__input {
    display: inline;
  }
  .slide__moveit {
    top: -18px;
  }
  .slide__content {
    display: none;
  }
}