/**
 * Slide specific styles.
 */
.slide {
  height: 100%;
  position: relative;
  background: $white;
}

.slide__block {
  position: absolute;
  max-width: 75%;
}

.slide__moveit,
.slide__removeit, {
  position: absolute;
  top: 0;

  transition: top 0.1s  0.1s ease-out;
}
.slide__moveit {
  left: 20px;
}
.slide__removeit {
  left: 60px;
}

.slide__input,
.slide__content {
  font-size: 36px;
  line-height: 42px;
  position: relative;
  background: $white;

  min-height: 42px;
  min-width: 100px;
}

.slide__input {
  display: none;
  color: $dark;
  padding: 3px;
}

.slide__controls {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 110px;

  opacity: 0;

  transition: opacity 0.2s ease-out;
}

/**
 * According to BEM standards, normally this should have been:
 * .slide__input--editmode instead of .slide--editmode .slide__input
 *
 * Although that is generally correct, I don't follow this approach when
 * working with states, because it is safer to change the state in only only place
 * in the markup. ie. it's better to only worry about adding/removing one class called
 * slide--editmode, than having to handle many at once (slide__moveit--editmode, slide__input--editmode etc.)
 */
.slide--editmode {
  .slide__input {
    display: inline;
  }
  .slide__moveit,
  .slide__removeit {
    top: -34px;
  }
  .slide__content {
    display: none;
  }

  .slide__controls {
    opacity: 1;
  }
}