$red:   #E0645C;
$dark:  #444444;
$light: #999999;
$blue:  #3B5998;
$green: #46b98a;
$white: #FFFFFF;

$branding: $blue;
$brandingContrast: $white;

$important: $green;
$importantContrast: $white;

$danger: $red;
$dangerContrast: $white;

$reverse: $dark;
$reverseContrast: $white;